@charset "utf-8";

body {
    height: 100%;
}

/* Large desktop */
@media (min-width: 1200px) {



        #home-background {
            height: 800px;
            background: url('../img/front-background-image.jpg') no-repeat center;
            background-position-y: 0%;
        }
        #home-logo {
            position: absolute;
            margin-left: 4%;
            margin-top: 2%;
            width: 200px;
        }
        #home-button-container {
            position: absolute;
            margin-right: 4%;
            margin-top: 4%;
            float: right;
            width: 95%;
            font-size: 1.6em;
            font-weight: bold;
        }
        .home-buttons {
            float: right;
            margin-right: 5%;
        }
        #home-message {
            position: absolute;
            margin-top: 25%;
            float: right;
            width: 55%;
            text-align: right;
            font-size: 3em;
            font-family: sans-serif;
        }
        #home-button-front-container {
            position: absolute;
            margin-top: 30%;
            float: right;
            width: 45%;
            text-align: right;
        }
        #home-button-front {
            position: relative;
            border: 1px solid black;
            width: 30%;
            float: right;
            text-align: center;
            line-height: 40px;

        }
        #service-header{
            height: 100px;
            width: 100%;
            background-color: lightgray;
        }
        .service-logo{
            max-width: 200px;
            margin-left: 5%;
            padding-top: 1%;
            float: left;
        }
        #service-item-container{
            min-height: 450px;
            margin-left: -1%;
            overflow-x: hidden;
        }
        #service-item-container-top{
            min-height: 300px;
            width: 100%;
            float: left;
            margin-left: 1%;
            overflow-x: hidden;
        }
        .service-item-top{
            width: 33%;
            min-height: 300px;
            float: left;
        }
        .service-item-top:hover{
            background-image: none;
            background-color: #f78f1e;
            color: #ffffff;
        }

        .centered-background{
            background-position: center;
            background-repeat: no-repeat;
            background-size: 120%;
        }

        .item-1{
             background-image: url('../img/model-1.jpg');
        }

        .item-2{
            background-image: url('../img/model-4.jpg');
        }

        .item-3{
            background-image: url('../img/model-3.jpg');
        }

        .item-4{
            background-image: url('../img/model-2.jpg');
        }

        .item-5{
            background-image: url('../img/model-1.jpg');
        }
        .item-location{
            background-image: url('../img/location.jpg');
        }

        #service-item-container-bottom{
            min-height: 250px;
            width: 100%;
            float: left;
            margin-left: 1%;
            overflow-x: hidden;
        }
        .service-item-bottom{
            width: 49.5%;
            min-height: 250px;
            float: left;
        }


        .service-item-bottom:hover {
            background-image: none;
            background-color:  #f78f1e;
            color: #ffffff;
        }

        .description-format{
            padding: 10px;
            text-align: center;
            line-height: 3;
            font-size: 3em;
            font-weight: lighter;
        }

        .description-button{
            border: 1px solid white;
            line-height: 3;
            text-align: center;
            width: 200px;
            margin: 0 auto;
            cursor:pointer;
        }

        .service-item-description{
            background-color:#000;
            bottom:0;
            color:#fff;
            opacity:0;
            filter: alpha(opacity = 0);
            width:100%;
            z-index:1000;
        }

        .service-item-top:hover .service-item-description{
            opacity:0.75;
            filter: alpha(opacity = 75);
            transition:opacity 0.25s;
            -moz-transition:opacity 0.25s;
            -webkit-transition:opacity 0.25s;
        }

        .service-item-bottom:hover .service-item-description{
            opacity:0.75;
            filter: alpha(opacity = 75);
            transition:opacity 0.25s;
            -moz-transition:opacity 0.25s;
            -webkit-transition:opacity 0.25s;
        }

        #service-button-container{
            margin-top: 2.5%;
            float: right;
            margin-right: 5%;
            width: 50%;
        }
        .service-top-button{
            width: 20%;
            line-height: 3;
            text-align: center;
            float: left;
            margin-left: 20px;
            color: #000000;
            font-weight: bold;
            cursor:pointer;

        }
        .service-top-button:hover{
            background-color:  #f78f1e;
            color: #ffffff;
        }
		
		.modal-link{
			text-decoration: none;
			color: white;
		}
		.modal-link:hover{
			text-decoration: none;
			color: white;
		}
		.modal-info {
			width: 30%;
			height: 100%;
			margin: 0;
			top: 0;
			float: left;
			background-color: #3a3a3c;
			color: white;
			
		}
		.modal-image{
			width: 70%;
			height: 100%;
			margin: 0;
			top: 0;
			float: right;
		}
		
		.modal-info-title{
			padding: 10px;
			border-bottom: 1px solid white;
		}
		.modal-info-content{
			padding: 10px;
		}
		#location-container{
		min-width: 1200px;
		min-height: 800px;
		
		}
		.location-container-image{
		width: 49%;
		height: 800px;
		float: left;
		opacity: 0.4;
		}
		.location-container-details{
		width: 49%;
		float: right;
		padding: 10px;
		margin-top: 10px;
		}
		#map{
		float: right;
		margin-right: 15px;
		margin-top: 20px;
		}
		#contact-form{
		float: left;
		width: 70%;
		height: 280px;
		margin-top: 50px;
		margin-left: 15%;
		border: 4px solid white;
		text-align: center;
		color: white;
		}
		#location-container-details-text{
		float: left;
		width: 300px;
		margin-left: 10px;
		color: white;
		}
		#location-button-container{
            margin-top: 2.5%;
            float: right;
            margin-right: 5%;
            width: 50%;
        }
        .location-top-button{
            width: 20%;
            line-height: 3;
            text-align: center;
            float: left;
            margin-left: 20px;
            color: #b04238;
            font-weight: bold;
            cursor:pointer;

        }
        .location-top-button:hover{
            background-color:  #b04238;
            color: white;
        }
         #location-header{
            height: 100px;
            width: 100%;
            background-color: white;
        }
		

    }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) { ... }